<div class="add-product">
  <h1>Add New Product</h1>
  <p class="p-message">{{addProdcutMesage}}</p>
  <form #addProduct="ngForm" (ngSubmit)="addProducts(addProduct.value)" class="common-form">
    <input
      class="form-input"
      type="text"
      required
      name="name"
      placeholder="Enter Product Name"
      ngModel
      #name="ngModel"
      required
    />
    <p class="invalid-input"><span *ngIf="name.invalid && name.touched">Please Enter Product Name</span></p>
    <input
      class="form-input"
      type="text"
      ngModel
      #price="ngModel"
      required
      name="price"
      placeholder="Enter Product price"
    />
    <p class="invalid-input"><span *ngIf="price.invalid && price.touched">Please Enter Product Price</span></p>
    <input
      class="form-input"
      type="text"
      required
      ngModel
      #color="ngModel"
      name="color"
      placeholder="Enter Product color"
    />
    <p class="invalid-input"><span *ngIf="color.invalid && color.touched">Please Enter Product Color</span></p>
    <input
      class="form-input"
      type="text"
      required
      ngModel
      name="category"
      #category="ngModel"
      placeholder="Enter Product category"
    />
    <p class="invalid-input"><span *ngIf="category.invalid && category.touched">Please Enter Product Category</span></p>
    <textarea
      class="form-input"
      type="text"
      required
      ngModel
      name="description"
      #description="ngModel"
      placeholder="Enter Product description"
    ></textarea>
    <p class="invalid-input"><span *ngIf="description.invalid && description.touched">Please Enter Product Description</span></p>

    <input
    class="form-input"
    type="text"
    required
    ngModel
    name="image"
    placeholder="Enter Product Image Url"
    #imgUrl="ngModel"
    />
    <p class="invalid-input"><span *ngIf="imgUrl.invalid && imgUrl.touched">Please Enter Product ImgUrl</span></p>

    <button class="form-button" [disabled]="addProduct.invalid">Add Product</button>
  </form>
</div>
