<div class="seller-auth">
    <div class="sign-up">
        <h1> Seller Sign-Up</h1>
        <form #sellerSignUp="ngForm" (ngSubmit)="signUp(sellerSignUp.value)" class="common-form">
            <input class="form-input" type="text" required ngModel name="name" placeholder="Enter Name">
            <input class="form-input" type="text" required email ngModel name="email" placeholder="Enter Email">
            <input class="form-input" type="password" required ngModel name="password" placeholder="Enter Password">
            <button class="form-button">Sign Up</button>
        </form>

    </div>
</div>