.user-auth h1{
    text-align: center;
    margin-bottom: 50px;
    margin-top: 80px;
    color: blueviolet;
}
.user-auth{
    margin-bottom: 80px;
}

.common-form a{
    color: blueviolet;
    cursor: pointer;
}