<ngb-carousel *ngIf="popularProducts">
  <ng-template *ngFor="let item of popularProducts" ngbSlide>
    <div class="picsum-img-wrapper">
      <img
        src="{{ item.image }}"
        class="product-slider-image"
        alt="Random first slide"
      />
    </div>
    <div class="carousel-caption">
      <h3>{{ item.name }}</h3>
      <p>{{ item.description }}</p>
    </div>
  </ng-template>
</ngb-carousel>

<div class="product-list-wrapper">
  <h1>Trendy Products</h1>
  <div class="row">
    <div class="col-sm-3">
      <div class="product-item">
        <img
          src="https://images.unsplash.com/photo-1496181133206-80ce9b88a853?auto=format&fit=crop&q=80&w=1471&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D"
          alt=""
        />
        <div class="product-details">
          <h6 class="name-head">New Apple Mobile</h6>
          <div class="product-price">
            <h6>price: 10000</h6>
          </div>
          <div class="product-color">
            <h6>Color: Blue</h6>
          </div>
        </div>
        <div class="product-footer">
          <a href="">view Details</a>
          <a href="">Add to Cart</a>
        </div>
      </div>
    </div>
  </div>
</div>
