<div class="update-product">
    <h1>Update Product</h1>
    <!-- <p class="p-message">{{addProdcutMesage}}</p> -->
    <form #addProduct="ngForm" (ngSubmit)="updateProducts(addProduct.value)" class="common-form">
      <input
        class="form-input"
        type="text"
        required
        name="name"
        ngModel="{{productData?.name}}"
        placeholder="Enter Product Name"
      />
      <input
        class="form-input"
        type="text"
        required
        ngModel="{{productData?.price}}"
        name="price"
        placeholder="Enter Product price"
      />
      <input
        class="form-input"
        type="text"
        required
        ngModel="{{productData?.color}}"
        name="color"
        placeholder="Enter Product color"
      />
      <input
        class="form-input"
        type="text"
        required
        ngModel="{{productData?.category}}"
        name="category"
        placeholder="Enter Product category"
      />
      <textarea
        class="form-input"
        type="text"
        required
        ngModel="{{productData?.description}}"
        name="description"
        placeholder="Enter Product description"
      ></textarea>
      <input
      class="form-input"
      type="text"
      required
      ngModel="{{productData?.image}}"
      name="image"
      placeholder="Enter Product Image Url"
      />
      <button class="form-button">Update Product</button>
    </form>
  </div>
  